* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Canva Sans, Noto Sans Variable, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: left;
  padding: 10px 3%;
  color: aliceblue;
  width: 100%;
  /* position: fixed; */
  z-index: 1;
  margin: 0px;
}

.searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.searchbar>button{
  margin-top: 5px;
  margin-left: 6px;
  background-color: inherit;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
    padding: 4px 8px 4px 8px;
}

.searchbar>button:hover {
  background-color: #0056b3;
}


.title {
  background: url("https://uicookies.com/movie-websites-templates/") center/cover no-repeat;
  margin-top: 0px;
  margin-bottom: 15px;
  width: 100%;
  padding: 30px 40px;
  /* padding: 56px 0 10px; */
  color: #fff;

}

.title h1 {
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  animation: typing 1.5s steps(20) ;
  overflow: hidden;
  white-space: nowrap;
}

.title .cursor{
  display: inline-block;
  width: 8px;
  height: 14px;
  background-color: #000;
  margin-left: 2px;
  animation: blink 0.5s infinite;
  vertical-align: middle;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { opacity: 0; }
}

.title h3 {
  margin-block-start: .5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.item {
  margin-top: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item ul {
  margin: 5px;
  list-style-type: none;
  height: 182px;
  width: 268px;
}

.card {
  transition: transform .2s;
  transition: box-shadow 0.1s ease;
  color: white;
  height: 25rem;
  overflow: scroll;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 18px rgb(229, 200, 200);
}

a {
  text-decoration: underline;
  color: inherit;
}

.card img {
  /* overflow-clip-margin: content-box; */
  /* overflow: clip; */
  height: 22.47491639vw;

}



input {
  color: #cfacac;
  border: 1px solid #555;
  width: 100%;
  padding: 4px 4px 4px 6px;
   background: transparent  13px center;
}

#alt{
  color: whitesmoke;
  margin-top: 20px;
  margin-left:15px
}